div.app-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 64px);
    min-height: calc(100vh - 64px);
    height: calc(100vh - 64px);
}