<mat-card 
    *ngFor="let country of countryList"
    class="display-card">

    <div class="first-row">
        <div class="title">
            {{country.name}}
        </div>
        <div class="population-title">
            Population
        </div>
    </div>

    <div class="second-row">

        <div class="cap-and-region">
            <div class="capital">
                {{country.capital}},&nbsp;
            </div>
            <div class="region">
                {{country.region}}
            </div>
        </div>

        <div class="population-value">
            {{country.population}}
        </div>

    </div>
    
</mat-card>