app-country-table {

    mat-card.display-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 60px;
        margin-bottom: 0.75rem;

        div.first-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div.title {
                color: blue;
            }

            div.population-title {
                font-size: 0.6rem;
                opacity: 0.5;
            }
        }

        div.second-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div.cap-and-region {
                display: flex;
                flex-direction: row;

                div.region {
                    opacity: 0.5;
                }
            }

            div.population-value {
                font-size: 1.5rem;
            }

        }
    }
}