app-country {

    .container {
        padding-top: 15px;
        width: 60vw;
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 576px) { 
    app-country {
        .container {
            width: 90vw;
        }
    }
 }