<div class="container">

    <app-country-search (doSearch)="onSearch($event)">
    </app-country-search>

    <app-country-table
        [countryList]="countryList$ | async">
    </app-country-table>
    
</div>
