<mat-form-field>

    <mat-label>Search Country..</mat-label>

    <input 
        matInput 
        [formControl]="searchKeywordCtrl">

    <button 
        *ngIf="searchKeywordValue$ | async" 
        mat-button 
        matSuffix 
        mat-icon-button
        (click)="doClearSearchKeyword()">

        <mat-icon>close</mat-icon>
        
    </button>

</mat-form-field>